html {
  box-sizing: border-box;
  font-size: $para;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  color: #222222;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}


.under-nav {
  height: 45px;
}

.link {
  color: $primary;
  text-decoration: underline;
  font-weight: $semi-bold;
  transition: $def-transition;

  &:hover {
    color: $primary-dark;
  }
}

// grid

.flex-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

// max 3 columns
.col {
  width: 100%;
  margin: 15px !important;

  @media (min-width: 800px) {
    width: calc(50% - 30px);
  }

  @media (min-width: 1200px) {
    width: calc(33.333% - 30px);
  }
}

// max 2 columns
.col-2 {
  width: 100%;
  margin: 15px !important;

  @media (min-width: 800px) {
    width: calc(50% - 30px);
  }
}

.col-3 {
  @media (min-width: 1100px) {
    width: calc(33.3% - 30px);
  }
}

.col-2.d-none {
  display: none;
  
  @media (min-width: 800px) {
    display: block;
  }
}

// Unikalne klasy

.fatal-error {
  color: #c33333;
  font-weight: $semi-bold;
  display: inline-block;
  padding: 10px;
  border: 1px solid #ffbaba;
  background: #fff6f6;
}

// TODO przenieść do sekcji
.main-img {
  min-height: 200px;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url(../images/food/food.jpeg);
  transition: $def-transition;
  margin: 20px 0;
  box-shadow: 20px 20px 0 $nav-bg;
  border: 2px solid $nav-bg;
}