.form {
  margin-top: 50px;
  max-width: 450px;
  
  &--flex {
    display: flex;
    flex-direction: column;
  }
  
  &--centered {
    margin: 0 auto;
  }

  &--wide {
    max-width: 550px;
  }

  &__label {
    font-weight: $semi-bold;
  }

  &__label-info {
    font-weight: $regular;
    display: block;
    margin-top: 5px;
    font-size: 15px;
  }

  &__select, &__input, &__textarea {
    display: block;
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: transparent;
    margin: 10px 0 20px;
    font-size: 15px;
    color: #505050;
    &--error {
      border-color: #ff0000;
    }
  }

  &__select--narrow {
    max-width: 120px;
  }

  &__input--narrow {
    max-width: 70px;
    text-align: center;
  }

  &__textarea {
    font-size: 14px;
  }

  &__form-group {
    margin: 20px auto 10px;
  }

  &__info, &__link {
    font-size: 15px;
  }

  &__info {
    margin: 20px auto 5px;
  }

  &__link {
    margin: 0 auto;
    text-align: center;
    display: block;
  }

  &__btn {
    margin-top: 20px;
    margin: 20px auto 0;
  }
  &__btn.element-is-busy {
    background: #bbb;
  }

  &__error {
    color: #ff0000;
    margin: -10px 0 20px;
    font-size: 14px;
    display: none;
  }

  &__error.visible {
    display: block;
  }

  &__msg {
    margin: 20px;
    text-align: center;
  }
}

/* ---------------------------------------------------- */
/* loading */
/* ---------------------------------------------------- */
.elem-is-busy {
  position: relative;
  pointer-events: none;
  opacity:0.5;
}

.elem-is-busy::after {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-right-color: rgba(0,0,0,0.7);
  transform: translate(-50%, -50%) rotate(0deg);
  content:"";
  animation: rotateSingleLoading 0.3s infinite linear;
  z-index: 10;
}

@keyframes rotateSingleLoading {
  from {
      transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
      transform: translate(-50%, -50%) rotate(360deg);
  }
}