// Colors

$text: #222222;
$primary: #2EAF00;
$primary-dark: #248800;
$secondary: #0863CF;
$nav-bg: #D8FFA7;
$nav-icon: #365C05;
$ingred-bg: #E3FFC0;
$border: #DFDFDF;
$card-bg: #F7F7F7;

// Font sizes

$h1: 24px;
$h2: 20px;
$h3: 17px;
$para: 16px;

// Font weight

$regular: 400;
$semi-bold: 600;

$def-transition: all .25s ease-in-out;